# Gateway padrão: blackcat ou sharpify
PAYMENT_GATEWAY=sharpify

# Blackcat
BLACKCAT_API_KEY=
BLACKCAT_API_URL=https://api.blackcatoficial.com/api/sales/create-sale
BLACKCAT_STATUS_URL=https://api.blackcatpay.com.br/api/sales
BLACKCAT_CLIENT_NAME=Recarga Fácil
BLACKCAT_CLIENT_EMAIL=contato@recargatodahora.online
BLACKCAT_CLIENT_DOCUMENT=
BLACKCAT_POSTBACK_URL=

# Sharpify Gateway
SHARPIFY_CLIENT_ID=
SHARPIFY_CLIENT_SECRET=
SHARPIFY_API_URL=https://sharpify-pay.com/api/v1/gateway/payment/create-paymnet
SHARPIFY_WEBHOOK_URL=
# Opcional: exemplo Bearer token para o callback
SHARPIFY_WEBHOOK_AUTH=
